.container {
    height: 10rem;
    width: 0rem;
    background-color: rgb(0, 255, 76)
}

.relative {
    height: 1rem;
    width: 2rem;
    position: relative;
    place-content: center;
    justify-content: baseline;
}

.absolute {
    height: 5rem;
    width: 0rem;
    position: absolute;
    place-content: center;
    justify-content: baseline;
}

.fixed {
    height: 1rem;
    width: 0rem;
    position: fixed;
    place-content: center;
    justify-content: center;
}

.sticky {
    height: 3rem;
    width: 0rem;
    position: sticky;
}